<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="parent">
<nav class="navbar navbar-inverse" style="border-radius: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Face Recognition Attendance System</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="search-bar"><input [(ngModel)]="searchStudent" class="form-control" (keyup.enter)="searchAttendance()"
        type="text" placeholder="Search" aria-label="Search"></li>
      <li class="search-bar" (click)="searchAttendance()"><button class="btn btn-light" ><i class="material-icons icon">search</i></button></li>
    </ul>
  </div>
</nav>

<div>
<div class="row">
<div class="col-md-3">
  <div class="left-panel">
    <div class="button-row">
      <i class="material-icons">search</i>
      <button class="btn btn-danger" (click)="selectImage()">Browse</button>
    </div>
    <div class="button-row">
      <i class="material-icons">refresh</i>
      <button class="btn btn-danger" disabled>Retrain Model</button>
    </div>
    <div class="button-row">
      <i class="material-icons">close</i>
      <button class="btn btn-danger" (click)="imgURL=!imgURL">Clear Image</button>
    </div>

    <div class="results">
      <span>Students Present</span>
      <i class="material-icons present">how_to_reg</i>
      <div class="names" *ngFor="let profile of profileList">
          <span *ngIf="profile!='Unknown'">{{profile}}</span>
      </div>
    </div>  
  </div>
</div>

<div class="col-md-6">
  <div class="middle">
    <div class="heading">
      <img src='../assets/1200px-IIEST_Shibpur_Logo.svg.png'>
      <span class="header"><i class="material-icons">
        group
      </i>Select Group Photo for Detection of Faces</span>
    </div>
      
  <div class="image-viewer">
      <img (click)="selectImage()" class="no-image" src='../assets/add-image.png' *ngIf="!imgURL">
      <img class="image" [src]="imgURL" *ngIf="imgURL">
      <input class="hidden" id="upload-file" #file type="file" accept='image/*' (change)="preview(file.files)" />
    </div>
    <div class="test-buttons">
      <button class="btn btn-danger test" (click)="onUploadFile()">Attendance Check</button>
      <button class="btn btn-danger test" (click)="showFaces()">Show Detected Faces</button>
    </div>
</div>
</div>

<div class="col-md-3">
  <div class="right-panel">

    <span class="text">Student Attendance Displayed</span>
    <i *ngIf="!displayStudentRecord" class="material-icons face">face</i>
    <span *ngIf="!displayStudentRecord" style="margin-bottom: 120px;">None Searched</span>

    <div class="student-record" *ngIf="displayStudentRecord">
      <img src="../assets/{{displayStudentRecord.name}}.jpg">
      <span>{{displayStudentRecord.name}}</span>
      <span>Days Present : {{displayStudentRecord.days_present}}</span>
    </div>

    <div class="new-section">
      <span>New Student Section</span>
      <div class="add-student">
        <input class="form-control" [(ngModel)]="newStudent" type="text" placeholder="Add New Student" aria-label="Search">
        <input class="hidden" #file1 id="upload-student-file" type="file" accept='image/*' (change)="previewStudent(file1.files)" />
        <i class="material-icons" (click)="selectStudentImage()">add</i>
    </div>
</div>
  
</div>
</div>
</div>
</div>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


